
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    height: 695px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(210,242,234);
background: linear-gradient(176deg, rgba(210,242,234,1) 50%, rgba(233,220,232,1) 88%);
  }

  #height,
  #weight {
    width: 150px;
    height: 25px;
    margin-top: 30px;
    border: 2px solid black;
    border-radius: 2px ;
  }
  
  #weight-guide {
    margin-left: 75px;
    margin-top: 25px;
  }
  
  #results {
    font-size: 35px;
    margin-left: 90px;
    margin-top: 20px;
    color: black;
  }
  
  button {
    /* width: 150px; */
    height: 35px;
    margin-left: 90px;
    margin-top: 25px;
    background-color: #fff;
    padding: 1px 30px;
    border-radius: 8px;
    color: #212121;
    text-decoration: none;
    border: 2px solid #212121;
  
    font-size: 25px;
  }
  
  h1 {
    padding-left: 15px;
    padding-top: 25px;
    
  }
  